.form-main {
    margin: 0 auto;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.form-login {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form-login__login-error {
    visibility: hidden;
    font-size: 14px;
    color: #f13851;
}

.form-login__pass-error {
    visibility: hidden;
    font-size: 14px;
    color: #f13851;
}


.form-main__register {
    margin: 0;
    margin-top: 8px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.form-register {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form-register__phone {
    margin-top: 18px;
}

.form-login__pass2 {
    margin-top: 18px;
}

.form-register__phone-error {
    visibility: hidden;
    font-size: 14px;
    color: #f13851;
}

.form-register__email-error {
    visibility: hidden;
    font-size: 14px;
    color: #f13851;
}

.form-register__pass2-error {
    visibility: hidden;
    font-size: 14px;
    color: #f13851;
}

.form-login__error-active {
    visibility: visible;
}
